{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container text-white w-25">
    <h1>S'inscrire</h1>
    <pre>
        {{ dump(classes) }}
    </pre>
    

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.classe) }}
        {{ form_row(registrationForm.spe) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Envoyer</button>
        <button type="cancel" class="btn btn-danger">Annuler</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
